<script src="javascript/index.js"></script>
<!-- <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3kMwht6j9pYwcpMi7UAx1MOmMrU-oZSo&callback=initMap"></script>
</body> -->

</html>