<%- include('partials/header') -%>
    <nav class="Nav-bar">
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="nav-bar-logo">
            <h5>MapCoronaCases</h5>
        </div>
        <ul class="nav-links about-link">
            <li><a href="/">World</a></li>
            <li><a href="/india">India</a></li>
            <li><a href="/covid19">Covid-19</a></li>
            <li><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/donate" target="blank">Donate</a></li>
            <li><a href="#">About</a></li>
            <li>
                <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/itherohit"><img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Coffee ?"><span style="margin-left:5px;font-size:28px !important;">Coffee ?</span></a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid map-corona-sec">
        <div class="row">
            <div class="col-lg-12 col-sm-12 map-sec">
                <div class="animate__animated container" data-aos="fade-up">
                    <h1 class="covid-sec-header-about">Map Corona Cases</h1>
                    <div class="covid-sec-info-about">
                        <p>Map Corona Cases gives real-time data about covid-19 cases around the world. It also visualizes the data for the respected country on the map. It helps you to search your countries and provide with the respected information. Indian
                            states data is also provided and visualized. All the informations are taken from the WHO and worldometers website. WHO twitter timeline is also embedded in the Covid-19 section.
                        </p>
                    </div>
                    <div class="useful">
                        <a class="useful-btn" href="https://www.buymeacoffee.com/itherohit" target="blank">Was it Useful ?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="animate__animated cases-info" id="transmission" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-4 col-sm-12  symptom-col">
                <h1><i class="fas fa-history"></i></h1>
                <h3>
                    Real Time Data
                </h3>
                <p>Thanks to the API's</p>
            </div>
            <div class="col-lg-4 col-sm-12 symptom-col">
                <h1><i class="fas fa-map-marked-alt"></i></h1>
                <h3>
                    Visualized
                </h3>
                <p>Thanks to Mapbox</p>
            </div>
            <div class="col-lg-4 col-sm-12 symptom-col">
                <h1><i class="fas fa-heart"></i> </h1>
                <h3>
                    Easy To Use
                </h3>
                <p>Made with love</p>
            </div>
        </div>
    </section>
    <div class="container-fluid thanks-sec animate__animated" data-aos="fade-up">
        <h1>Thanks to all Frontline Workers</h1>
        <img src="/thanks.jpg" alt="" srcset="">
    </div>
    <div class="container-fluid thanks-sec developer-sec">
        <h1>Developed By</h1>
        <img src="/developer.jpg" alt="" srcset="">
        <h3>Rohit S</h3>
        <h6>A Student Developer</h6>
        <div class="social">
            <p><a href="https://www.instagram.com/ro0hit_" target="blank"><i class="fab fa-instagram"></i></a></p>
            <p><a href="https://www.linkedin.com/in/itherohit" target="blank"><i class="fab fa-linkedin"></i></a></p>
        </div>
    </div>
    <%- include('partials/footer') -%>