<%- include('partials/header') -%>
    <nav class="Nav-bar">
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="nav-bar-logo">
            <h5>MapCoronaCases</h5>
        </div>
        <ul class="nav-links">
            <li><a href="/">World</a></li>
            <li><a href="/india">India</a></li>
            <li><a href="/covid19">Covid-19</a></li>
            <li><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/donate" target="blank">Donate</a></li>
            <li><a href="/about">About</a></li>
            <li>
                <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/itherohit"><img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Coffee ?"><span style="margin-left:5px;font-size:28px !important;">Coffee ?</span></a>
            </li>
        </ul>
    </nav>
    <div class="district-sec">
        <div class="district-sec-info">

            <% for(var key in district_json){ %>
                <div class="district-data">
                    <h4>
                        <%= key %>
                    </h4>
                    <h4 class="district-data-num">
                        <%= district_json[key].confirmed %>
                    </h4>
                </div>
                <% } %>
        </div>
    </div>
    <%- include('partials/footer') -%>