<%- include('partials/header') -%>
    <nav class="Nav-bar">
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="nav-bar-logo">
            <h5>MapCoronaCases</h5>
        </div>
        <ul class="nav-links">
            <li><a href="/">World</a></li>
            <li><a href="/india">India</a></li>
            <li><a href="/covid19">Covid-19</a></li>
            <li><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/donate" target="blank">Donate</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="#">Coffee?</a></li>
        </ul>
    </nav>
    <div class="district-sec">
        <div class="district-sec-info">

            <% district_json.forEach(data => { %>
                <div class="district-data">
                    <h4>
                        <%= data.name %>
                    </h4>
                    <h4 class="district-data-num">
                        <%= data.confirmed %>
                    </h4>
                </div>
                <% }); %>
        </div>
    </div>
    <%- include('partials/footer') -%>